In [1]:
from dcmtag2table import dcmtag2table

In [2]:
list_of_tags = [
                "PatientID",
                "StudyInstanceUID",
                "SeriesInstanceUID",
                "SOPInstanceUID"
                ]

folder = "/media/felipe/easystore/Datasets/RSNA2019/mdai/epm/mdai_rsna_project_PVq9aqJe_images_2019-07-29-154909_part04of13/"

df = dcmtag2table(folder, list_of_tags)

Listing all files...
Time: 0.08286023139953613
Reading files...

100%|██████████| 7143/7143 [00:06<00:00, 1170.33it/s]

Finished.

In [3]:
df.head()

                                            Filename       ...        StudyInstanceUID
0  /media/felipe/easystore/Datasets/RSNA2019/mdai...       ...          10000000000014
1  /media/felipe/easystore/Datasets/RSNA2019/mdai...       ...          10000000000014
2  /media/felipe/easystore/Datasets/RSNA2019/mdai...       ...          10000000000014
3  /media/felipe/easystore/Datasets/RSNA2019/mdai...       ...          10000000000014
4  /media/felipe/easystore/Datasets/RSNA2019/mdai...       ...          10000000000014

[5 rows x 5 columns]